/*===============================================*/
/* commun */
/*===============================================*/
/* QWidget */
QWidget, QWidget * {
    background-color: #201010;
    font-family: "Arial";
    font-size: 16px;
    color: white;
    border: none;
    outline: none
}
/*===============================================*/
/* custom */
/*===============================================*/
/* GTitleBar */
QFrame#GTitleBar * {
    background-color: transparent;    
}
/*===============================================*/
/* GAddressBar */
QFrame#GAddressBar * {
    background-color: transparent;    
}
QFrame#GAddressBar QLineEdit#address {
    background-color: #403030;
    border-radius: 5px;
    padding: 5px 10px;
}
/*===============================================*/
