/*===============================================*/
/* commun */
/*===============================================*/
/* QWidget */
QWidget, QWidget * {
    background-color: #201010;
    font-family: "Allan";
    font-size: 20px;
    color: white;
    border: none;
    outline: none
}
/*===============================================*/
/* custom */
/*===============================================*/
/* GTitleBar */
QFrame#GTitleBar * {
    background-color: transparent;    
}
QFrame#GTitleBar QLabel#app_name {
    font-family: "Akronim";
    font-size: 40px;
}
QFrame#GTitleBar QLabel#title {
    padding: 0px 20px;
}
QFrame#GTitleBar QPushButton#minimize:hover,
QFrame#GTitleBar QPushButton#maximize:hover,
QFrame#GTitleBar QPushButton#close:hover {
    background-color: #403030;
}
QFrame#GTitleBar QPushButton#minimize:pressed,
QFrame#GTitleBar QPushButton#maximize:pressed,
QFrame#GTitleBar QPushButton#close:pressed {
    background-color: transparent;
}
/*===============================================*/
/* GAddressBar */
QFrame#GAddressBar * {
    background-color: transparent;    
}
QFrame#GAddressBar QLineEdit#address {
    background-color: #403030;
    border-radius: 5px;
    padding: 2px 10px;
}
/*===============================================*/
